<div class="row-fluid marketing">
  <% if flash[:error] %>
    <div class="alert alert-error">
      <% flash[:error].each do |msg| %>
        <%= msg %>
        <br/>
      <% end %>
    </div>
  <%end %>

  <div class="span12">
    <% if !@team.new_record? %>
      <h3>You're part of <%= @team.name %> team!</h3>
      <br/>

      <h4>
        Invite people to the coolest team!
      </h4>

      <%= form_for @invite, :html => {:class => "form-inline"} do |f| %>
        <%= f.select :invitee, options_for_select(@users.map {|user| [user.email, user.id] }) %>
        <%= f.submit "Invite", {:class => "btn btn-primary"} %>
      <% end %>

      <%= render :partial => "invites_sent" %>

    <% else %>
      <h3>Hello! Create or join a team to start a game.</h3>

      <h4>Create a team</h4>
      <%= form_for @team, :html => {:class => "form-inline"} do |f| %>
        <%= f.text_field :name, {:placeholder => "Team name"} %>
        <%= f.submit "Create team", {:class => "btn btn-primary"} %>
      <% end %>

      <%= render :partial => "invites_received" %>

    <% end %>
  </div>
</div>
