<div class="well">
  <h4>
    Hello this is your api key! Keep it a secret :) So nobody will destroy your score.
  </h4>

  <div class="input-prepend">
    <span class="add-on">HTTP_MIDWAY_API_KEY</span>
    <input class="span4" id="apiKeyInput" type="text" value="<%= @api_key %>">
  </div>

  <%= render :partial => "dashboard/team" %>
  
    <div class="row-fluid marketing">
      <div class="span6">
        <h4>Team members:</h4>

        <ol>
        <% @team.users.each do |user| %>
          <li><%= user.email %></li>
        <% end %>
        </ol>

      </div>

      <div class="span6">
        <h4>Invites:</h4>

        <ol>
        <% @team.invites.each do |invite| %>
          <% if !invite.new_record? %>
            <li><%= invite.user.email %>:<%= invite.state %></li>
          <% end %>
        <% end %>
        </ol>

      </div>
    </div>

</div>
