<div class="row-fluid marketing">
  <div class="span12">
    <h4>Tournaments:</h4>
    <% if flash[:error] %>
      <div class="alert alert-error">
        <%= flash[:error] %>
      </div>
    <% end %>
    <table class='table table-striped'>
      <tr>
        <th>Name</th>
        <th>State</th>
        <th>Rounds</th>
				<th>Number of Teams</th>
        <th>Start Date</th>
				<th></th>
      </tr>
      <% @tournaments.each do |tournament| %>
        <tr>
          <td><%= link_to tournament.name, tournament %></td>
          <td><%= tournament.state.humanize %></td>
          <td><%= tournament.max_rounds %></td>
          <td><%= tournament.teams.size %></td>
          <td><%= tournament.start_at %></td>
					<td>
						<% if @team && !tournament.teams.include?(@team)  %>
							<%= button_to "join", join_tournament_url(:id => tournament.id, :team_id => @team.id) %>
						<% elsif @team && tournament.teams.include?(@team)  %>
							entered
						<% end %>
					</td>
        </tr>
      <% end %>
      <% if @tournaments.empty? %>
        <tr>
          <td colspan='3'>No Tournaments</td>
        </tr>
      <% end %>
    </table>

		<% if current_user.admin? %>
			<h4>Create Tournament:</h4>
			<%= form_for [Tournament.new] do |f| %>
				<%= f.label :name %>
				<%= f.text_field :name %>
				<%= f.label :max_rounds, "number of rounds" %>
				<%= f.select :max_rounds, [1,2,3,4,5,6,7,8,9,10] %>
				<%= f.label :start_at%>
				<%= f.text_field :start_at, 'data-behaviour' => 'datepicker' %>
				<br />
				<%= f.submit "Create Tournament", {:class => "btn btn-primary"} %>
			<% end %>
    <% end %>
  </div>
</div>

<script type='text/javascript'>
  $(document).on("focus", "[data-behaviour~='datepicker']", function(e){
    $(this).datepicker({"format": "yyyy-mm-dd", "weekStart": 1, "autoclose": true});
  });
</script>
