<% if current_user.admin? %>
	<% if @tournament.open_to_entry? %>
		<%= button_to "start tournament", start_tournament_url(:id => @tournament.id) %>
	<% end %>

	<% if @tournament.in_progress? %>
		<%= button_to "end tournament", end_tournament_url(:id => @tournament.id) %>
	<% end %>
<% end %>

<% if !@tournament.complete? && @team && @tournament.teams.include?(@team) %>
	<%= button_to "forfeit tournament", forfeit_tournament_url(:id => @tournament.id, :team_id => @team.id) %>
<% end %>

<h1>
	<%= @tournament.name %>
</h1>

<% @tournament.teams.each do |team| %>

	<h3><%= team.name %></h3>
	<br />
	<table class='table'>
		<tr>
			<th>Game Id</th>
			<th>State</th>
			<th>Moves</th>
		</tr>
	  <% @tournament.team_games(team).each do |game| %>
			<tr>
				<th><%= game.id %></th>
				<th><%= game.state.humanize %></th>
				<th><%= game.moves.size %></th>
			</tr>
	  <% end %>

  </table>
<% end %>



