<div class="masthead">
  <% if current_user %>
  <ul class="nav nav-pills pull-right">
    <li>
      <p class="navbar-text">
        <%= current_user.email %>
      </p>
    </li>
	  <%= nav_link 'Home', root_url %>
		<%= nav_link "Key", key_path %>
		<%= nav_link "Api", api_path %>
    <li>
      <%= link_to "Logout",  destroy_user_session_path, :method => :delete %>
    </li>
  </ul>
  <% end %>
</div>
<h3 class="muted">Midway</h3>
